@charset "UTF-8";

        body {
            background-color: rgb(173, 220, 147);
            font-family: Arial, sans-serif;
            font-size: 20px;
        }
        h1 {
            color:rgb(129, 51, 12);
            background-color: lightblue;
        }
        h2 {
            color: rgb(78, 190, 9);
        }
        p {
            text-align: justify;
        }
    